$primary-bg-color: #F9FAFB;
$secondary-bg-color: #F8F8F8;
$container-bg-color: #FFFFFF;
$primary-text-color: #333333;
$secondary-text-color: #5A5A5A;
$accent-color: #F56A0A;
$accent-hover-color: #D95300;
$border-color: #E5E7EB;
$initials-avatar-bg: #d9d9d9;
$star-badge-color: #FFD700;
$table-row-pink: #E5E0F4B4;
$pagination-inactive-blue: #A9B4FF;
$map-toggle: 2F80ED;

$main-font: 'Roboto', sans-serif;

$border-radius: 8px;
$container-padding: 24px;
$section-gap: 20px;
